{%- comment -%}
  🧰 Image with text section
{%- endcomment -%}

{%- liquid
  assign image = section.settings.image
  assign image_class = 'pxu-image-with-text__image pxu-image-with-text__image--' | append: section.settings.image_height
-%}

<section
  class="
    pxu-section
    pxu-image-with-text
  "
  style="
    --pxu-section-text-color: {{ section.settings.text_color }};
    --pxu-section-background-color: {{ section.settings.background_color }};
    --pxu-section-padding-top: {{ section.settings.padding_top }}px;
    --pxu-section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --pxu-section-margin-top: {{ section.settings.margin_top }}px;
    --pxu-section-margin-bottom: {{ section.settings.margin_bottom }}px;
    --pxu-section-desktop-image-width: {{ section.settings.desktop_image_width }}%;
    --pxu-section-desktop-image-placement: {{ section.settings.desktop_image_placement }};
    --pxu-section-mobile-image-placement: {{ section.settings.mobile_image_placement }};
    --pxu-section-desktop-content-position: {{ section.settings.desktop_content_position }};
    --pxu-section-desktop-content-alignment: {{ section.settings.desktop_content_alignment }};
    --pxu-section-mobile-content-alignment: {{ section.settings.mobile_content_alignment }};
    --pxu-section-placeholder-fill-color: {{ section.settings.text_color | color_modify: 'alpha', 0.35 }};
    --pxu-section-placeholder-background-color: {{ section.settings.text_color | color_modify: 'alpha', 0.15 }};
  "
>
  <script
    type="application/json"
    data-component-data
  >
    {
      "id": "pxu-image-with-text",
      "name": "Image with text",
      "version": "1.0.2"
    }
  </script>

  <div class="pxu-section__container">
    <div class="pxu-image-with-text__inner">
      <div class="pxu-image-with-text__image-container">
        {%- if image -%}
          {{- image | image_url: width: 1200 | image_tag: class: image_class -}}
        {%- else -%}
          {{- 'image' | placeholder_svg_tag: 'pxu-placeholder' -}}
        {%- endif -%}
      </div>

      <div class="pxu-image-with-text__content-container">
        {%- if section.blocks.size > 0 -%}
          {%- for block in section.blocks -%}
            <div {{ block.shopify_attributes }}>
              {%- case block.type -%}
                {%- when 'heading' -%}
                  {%- assign heading = block.settings.heading -%}
                  {%- if heading != blank -%}
                    <h2
                      class="
                        {% if forloop.first %}
                          pxu-image-with-text__block--first
                        {% endif %}
                        pxu-image-with-text__block-heading
                        pxu-heading
                      "
                      style="
                        --pxu-section-block-heading-size: {{ block.settings.heading_size }}px;
                        --pxu-section-block-heading-size-mobile: {{ block.settings.heading_size_mobile }}px;
                      "
                    >
                      {{- heading -}}
                    </h2>
                  {%- endif -%}

                {%- when 'text' -%}
                  {%- assign text = block.settings.text -%}
                  {%- if text != blank -%}
                    <div
                      class="
                        {% if forloop.first %}
                          pxu-image-with-text__block--first
                        {% endif %}
                        pxu-image-with-text__block-text
                        pxu-rte
                      "
                      style="
                        --pxu-section-block-text-size: {{ block.settings.text_size }}px;
                        --pxu-section-block-text-size-mobile: {{ block.settings.text_size_mobile }}px;
                      "
                    >
                      {{- text -}}
                    </div>
                  {%- endif -%}

                {%- when 'button' -%}
                  {%- assign button_label = block.settings.button_label | escape -%}
                  {%- if button_label != blank -%}
                    {%- liquid
                      assign button_url = block.settings.button_url
                      assign button_style = block.settings.button_style
                      assign button_text_color = block.settings.button_text_color
                      assign button_background_color = block.settings.button_background_color

                      assign button_brightness = button_background_color | color_brightness
                      assign button_brightness_mod = 'light-on-dark'
                      if button_brightness > 127.5
                        assign button_brightness_mod = 'dark-on-light'
                      endif
                    -%}
                    <div
                      class="
                        {% if forloop.first %}
                          pxu-image-with-text__block--first
                        {% endif %}
                        pxu-image-with-text__block-button
                      "
                    >
                      <a
                          class="
                            pxu-btn
                            pxu-btn--{{ button_style }}
                            pxu-btn--{{ button_brightness_mod }}
                          "
                          style="
                            --pxu-btn-background-color: {{ button_background_color }};
                            --pxu-btn-text-color: {{ button_text_color }};
                          "
                          href="{{ button_url }}"
                        >
                          {{- button_label -}}
                        </a>
                    </div>
                  {%- endif -%}
              {%- endcase -%}
            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</section>

<style type="text/css">
.pxu-section{--pxu-current-bp:"xxs"}@media only screen and (min-width:480px){.pxu-section{--pxu-current-bp:"xs"}}@media only screen and (min-width:720px){.pxu-section{--pxu-current-bp:"small"}}@media only screen and (min-width:860px){.pxu-section{--pxu-current-bp:"medium"}}@media only screen and (min-width:1024px){.pxu-section{--pxu-current-bp:"large"}}.pxu-image-with-text{background-color:var(--pxu-section-background-color);color:var(--pxu-section-text-color);margin-bottom:calc(var(--pxu-section-margin-bottom, 0)*.75);margin-top:calc(var(--pxu-section-margin-top, 0)*.75);padding:calc(var(--pxu-section-padding-top, 0)*.75) var(--pxu-space-4) calc(var(--pxu-section-padding-bottom, 0)*.75)}@media only screen and (min-width:480px){.pxu-image-with-text{margin-bottom:var(--pxu-section-margin-bottom,0);margin-top:var(--pxu-section-margin-top,0);padding:var(--pxu-section-padding-top,0) var(--pxu-space-6) var(--pxu-section-padding-bottom,0)}}.pxu-image-with-text__inner{display:flex;flex-direction:var(--pxu-section-mobile-image-placement)}@media only screen and (min-width:720px){.pxu-image-with-text__inner{flex-direction:var(--pxu-section-desktop-image-placement)}}.pxu-image-with-text__image-container{align-items:center;display:flex;line-height:0}@media only screen and (min-width:720px){.pxu-image-with-text__image-container{width:var(--pxu-section-desktop-image-width)}}.pxu-image-with-text__image{height:auto;-o-object-fit:cover;object-fit:cover;width:100%}.pxu-image-with-text__image--small{height:300px}@media only screen and (min-width:720px){.pxu-image-with-text__image--small{height:500px}}.pxu-image-with-text__image--medium{height:450px}@media only screen and (min-width:720px){.pxu-image-with-text__image--medium{height:650px}}.pxu-image-with-text__image--large{height:600px}@media only screen and (min-width:720px){.pxu-image-with-text__image--large{height:800px}}.pxu-image-with-text__content-container{padding:var(--pxu-space-8) var(--pxu-space-4);text-align:var(--pxu-section-mobile-content-alignment)}@media only screen and (min-width:720px){.pxu-image-with-text__content-container{display:flex;flex:1;flex-direction:column;justify-content:var(--pxu-section-desktop-content-position);padding:var(--pxu-space-14);text-align:var(--pxu-section-desktop-content-alignment)}}.pxu-image-with-text__block-heading{color:var(--pxu-section-text-color);font-size:var(--pxu-section-block-heading-size-mobile);margin:var(--pxu-space-5) 0 0}.pxu-image-with-text__block-heading.pxu-image-with-text__block--first{margin:0}@media only screen and (min-width:860px){.pxu-image-with-text__block-heading{font-size:var(--pxu-section-block-heading-size)}}.pxu-image-with-text__block-text{font-size:var(--pxu-section-block-text-size-mobile);margin:var(--pxu-space-5) 0 0}.pxu-image-with-text__block-text.pxu-image-with-text__block--first{margin:0}@media only screen and (min-width:860px){.pxu-image-with-text__block-text{font-size:var(--pxu-section-block-text-size)}}.pxu-image-with-text__block-button{margin:var(--pxu-space-8) 0 0}.pxu-image-with-text__block-button.pxu-image-with-text__block--first{margin:0}</style>
{% schema %}
{
  "name": "t:pxu_sections.sections.image_with_text.name",
  "class": "pxu-image-with-text-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:pxu_sections.common.image.image"
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "t:pxu_sections.common.image.image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:pxu_sections.common.image.adapt"
        },
        {
          "value": "small",
          "label": "t:pxu_sections.common.image.small"
        },
        {
          "value": "medium",
          "label": "t:pxu_sections.common.image.medium"
        },
        {
          "value": "large",
          "label": "t:pxu_sections.common.image.large"
        }
      ],
      "default": "adapt"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "label": "t:pxu_sections.common.image.desktop_image_width",
      "options": [
        {
          "value": "33.33",
          "label": "t:pxu_sections.common.image.small"
        },
        {
          "value": "50",
          "label": "t:pxu_sections.common.image.medium"
        },
        {
          "value": "66.33",
          "label": "t:pxu_sections.common.image.large"
        }
      ],
      "default": "50"
    },
    {
      "type": "select",
      "id": "desktop_image_placement",
      "label": "t:pxu_sections.common.image.desktop_image_placement",
      "options": [
        {
          "value": "row",
          "label": "t:pxu_sections.common.image.image_first"
        },
        {
          "value": "row-reverse",
          "label": "t:pxu_sections.common.image.image_second"
        }
      ],
      "default": "row"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "label": "t:pxu_sections.common.layout.desktop_content_position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:pxu_sections.common.layout.top"
        },
        {
          "value": "center",
          "label": "t:pxu_sections.common.layout.center"
        },
        {
          "value": "flex-end",
          "label": "t:pxu_sections.common.layout.bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "label": "t:pxu_sections.common.layout.desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:pxu_sections.common.layout.left"
        },
        {
          "value": "center",
          "label": "t:pxu_sections.common.layout.center"
        },
        {
          "value": "right",
          "label": "t:pxu_sections.common.layout.right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:pxu_sections.common.layout.mobile_layout"
    },
    {
      "type": "select",
      "id": "mobile_image_placement",
      "label": "t:pxu_sections.common.image.mobile_image_placement",
      "options": [
        {
          "value": "column",
          "label": "t:pxu_sections.common.image.image_first"
        },
        {
          "value": "column-reverse",
          "label": "t:pxu_sections.common.image.image_second"
        }
      ],
      "default": "column"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "label": "t:pxu_sections.common.layout.mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:pxu_sections.common.layout.left"
        },
        {
          "value": "center",
          "label": "t:pxu_sections.common.layout.center"
        },
        {
          "value": "right",
          "label": "t:pxu_sections.common.layout.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:pxu_sections.common.color.color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:pxu_sections.common.color.text_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:pxu_sections.common.color.background_color"
    },
    {
      "type": "header",
      "content": "t:pxu_sections.common.padding.header"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:pxu_sections.common.padding.top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:pxu_sections.common.padding.bottom",
      "default": 32
    },
    {
      "type": "header",
      "content": "t:pxu_sections.common.margin.header"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:pxu_sections.common.margin.top",
      "default": 64
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:pxu_sections.common.margin.bottom",
      "default": 64
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:pxu_sections.common.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:pxu_sections.common.heading.name",
          "default": "t:pxu_sections.sections.image_with_text.block_heading.default"
        },
        {
          "type": "range",
          "id": "heading_size",
          "min": 16,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:pxu_sections.common.heading.heading_size",
          "default": 40
        },
        {
          "type": "range",
          "id": "heading_size_mobile",
          "min": 16,
          "max": 64,
          "step": 1,
          "unit": "px",
          "label": "t:pxu_sections.common.heading.heading_size_mobile",
          "default": 24
        }
      ]
    },
    {
      "type": "text",
      "name": "t:pxu_sections.common.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:pxu_sections.common.text.content",
          "default": "t:pxu_sections.sections.image_with_text.block_text.default"
        },
        {
          "type": "range",
          "id": "text_size",
          "min": 12,
          "max": 32,
          "step": 1,
          "unit": "px",
          "label": "t:pxu_sections.common.text.text_size",
          "default": 16
        },
        {
          "type": "range",
          "id": "text_size_mobile",
          "min": 12,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "t:pxu_sections.common.text.text_size_mobile",
          "default": 16
        }
      ]
    },
    {
      "type": "button",
      "name": "t:pxu_sections.common.button.button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:pxu_sections.common.button.label",
          "default": "t:pxu_sections.common.button.button"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "t:pxu_sections.common.button.link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:pxu_sections.common.button.style",
          "options": [
            {
              "value": "fill",
              "label": "t:pxu_sections.common.button.fill"
            },
            {
              "value": "outline",
              "label": "t:pxu_sections.common.button.outline"
            }
          ],
          "default": "fill"
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "t:pxu_sections.common.color.background_color",
          "info": "t:pxu_sections.common.button.background_color_info",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "t:pxu_sections.common.color.text_color",
          "default": "#FFFFFF"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "presets": [
    {
      "name": "t:pxu_sections.sections.image_with_text.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}