{%- comment -%}
  🧰 Countdown timer section
{%- endcomment -%}

{%- liquid
  assign heading = section.settings.heading
  assign section_height = section.settings.section_height
  assign image = section.settings.image
  assign image_overlay_color = section.settings.image_overlay_color
  assign image_overlay_color_alpha = image_overlay_color | color_extract: 'alpha'
  assign image_overlay_opacity = section.settings.image_overlay_opacity | divided_by: 100.0
-%}

<section
  id="{{ section.id }}"
  class="
    pxu-section
    pxu-countdown-timer
    pxu-countdown-timer--{{ section_height }}
    {% if image == blank and section_height == 'adapt' %}
      pxu-countdown-timer--adapt-no-background
    {% endif %}
  "
  style="
    --pxu-section-text-color: {{ section.settings.text_color }};
    --pxu-section-margin-top: {{ section.settings.margin_top }}px;
    --pxu-section-margin-bottom: {{ section.settings.margin_bottom }}px;
    --pxu-section-image-aspect-ratio: {{ image.aspect_ratio | default: 'auto' }};
    {% if image_overlay_color_alpha != 0 %}
      --pxu-section-image-overlay-color: {{ image_overlay_color | color_modify: 'alpha', image_overlay_opacity }};
    {% endif %}
  "
  data-pxu-countdown-timer
>
  <script
    type="application/json"
    data-component-data
  >
    {
      "id": "{{ section.id }}",
      "handle": "pxu-countdown-timer",
      "className": "CountdownTimerSection",
      "name": "Countdown timer",
      "version": "1.0.2",
      "scriptsUrl": "{{ 'scripts.js' | asset_url | replace: '/assets/', '/compiled_assets/' }}"
    }
  </script>

  {%- if image -%}
    <div class="pxu-countdown-timer__image-wrapper">
      {{- image | image_url: width: 1800 | image_tag: class: 'pxu-countdown-timer__image' -}}
    </div>
   {%- endif -%}

  <div
    class="
      pxu-countdown-timer__container
      {% if section.blocks.size == 1 -%}
        pxu-countdown-timer__container--centered
      {% endif -%}
      pxu-section__container
    "
  >
    {%- for block in section.blocks -%}
      <div
        class="
          pxu-countdown-timer__block
          pxu-countdown-timer__block--{{ block.type }}
        "
        {{ block.shopify_attributes }}
      >
        {%- case block.type -%}
          {%- when 'timer' -%}
            {%- capture datetime -%}
              {{- block.settings.countdown_year | append: '-' -}}
              {{- block.settings.countdown_month | append: '-' -}}
              {{- block.settings.countdown_day | append: 'T' -}}
              {{- block.settings.countdown_hour | append: ':' -}}
              {{- block.settings.countdown_minute | append: ':00.000' -}}
            {%- endcapture -%}

            {%- liquid
              assign timezone = datetime | date: "%z"
              assign datetime = datetime | append: timezone
              assign countdown_message = block.settings.countdown_message
              assign countdown_opacity = block.settings.countdown_opacity | divided_by: 100.0
              assign countdown_text_color = block.settings.countdown_text_color
              assign countdown_background_color = block.settings.countdown_background_color
            -%}

            <div
              class="
                pxu-countdown-timer__countdown
                pxu-countdown-timer__countdown--loading
                pxu-countdown-timer__countdown--{{ block.settings.countdown_style }}
                pxu-countdown-timer__countdown--hide-on-complete-{{ block.settings.countdown_timer_complete }}
              "
              style="
                  --pxu-section-countdown-text-color: {{ countdown_text_color }};
                  --pxu-section-countdown-text-color-alpha-10: {{ countdown_text_color | color_modify: 'alpha', 0.10 }};
                  --pxu-section-countdown-background-color: {{ countdown_background_color }};
                  --pxu-section-countdown-background-color-alpha: {{ countdown_background_color | color_modify: 'alpha', countdown_opacity }};
                "
              data-pxu-countdown-timer-countdown
            >
              <div class="pxu-countdown-timer__countdown-items">
                <time
                  class="
                    pxu-countdown-timer__countdown-datetime
                    pxu-visually-hidden
                  "
                  datetime="{{ datetime }}"
                  data-pxu-countdown-timer-countdown-datetime
                >
                </time>

                {%- for i in (1..4) -%}
                  {%- capture time_cycle -%}
                    {%- cycle 'days', 'hours', 'minutes', 'seconds' -%}
                  {%- endcapture -%}

                  <div
                    class="
                      pxu-countdown-timer__countdown-item
                      pxu-countdown-timer__countdown-item--{{- time_cycle -}}
                    "
                  >
                    <h3
                      class="pxu-countdown-timer__countdown-item-heading"
                      data-pxu-countdown-timer-countdown-{{- time_cycle -}}
                    >
                    </h3>

                    <span class="pxu-countdown-timer__countdown-item-text">
                      {{- time_cycle -}}
                    </span>
                  </div>
                {%- endfor -%}
              </div>

              {%- if countdown_message != blank -%}
                <div class="pxu-countdown-timer__countdown-message pxu-rte">
                  {{- countdown_message -}}
                </div>
              {%- endif -%}
            </div>

          {%- when 'content' -%}
            {%- liquid
              assign heading = block.settings.heading
              assign text = block.settings.text
              assign button_label = block.settings.button_label | escape
              assign button_url = block.settings.button_url
              assign button_style = block.settings.button_style
              assign button_text_color = block.settings.button_text_color
              assign button_background_color = block.settings.button_background_color

              assign button_brightness = button_background_color | color_brightness
              assign button_brightness_mod = 'light-on-dark'
              if button_brightness > 127.5
                assign button_brightness_mod = 'dark-on-light'
              endif
            -%}

            <div
              class="pxu-countdown-timer__content"
              style="
                --pxu-section-block-heading-size: {{ block.settings.heading_size }}px;
                --pxu-section-block-heading-size-mobile: {{ block.settings.heading_size_mobile }}px;
                --pxu-section-block-text-size: {{ block.settings.text_size }}px;
                --pxu-section-block-text-size-mobile: {{ block.settings.text_size_mobile }}px;
                --pxu-section-block-content-alignment: {{ block.settings.content_alignment }};
                --pxu-section-block-content-alignment-mobile: {{ block.settings.content_alignment_mobile }};
              "
            >
              {%- if heading != blank -%}
                <h2 class="pxu-countdown-timer__heading pxu-heading">
                  {{- heading -}}
                </h2>
              {%- endif -%}

              {%- if text != blank -%}
                <div class="pxu-countdown-timer__text pxu-rte">
                  {{- text -}}
                </div>
              {%- endif -%}

              {%- if button_label != blank -%}
                <a
                  class="
                    pxu-countdown-timer__button
                    pxu-btn
                    pxu-btn--{{ button_style }}
                    pxu-btn--{{ button_brightness_mod }}
                  "
                  style="
                    --pxu-btn-background-color: {{ button_background_color }};
                    --pxu-btn-text-color: {{ button_text_color }};
                  "
                  {% if button_url != blank %}
                    href="{{ button_url }}"
                  {% endif %}
                >
                  {{- button_label -}}
                </a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      </div>
    {%- endfor -%}
  </div>
</section>

<style type="text/css">
.pxu-section{--pxu-current-bp:"xxs"}@media only screen and (min-width:480px){.pxu-section{--pxu-current-bp:"xs"}}@media only screen and (min-width:720px){.pxu-section{--pxu-current-bp:"small"}}@media only screen and (min-width:860px){.pxu-section{--pxu-current-bp:"medium"}}@media only screen and (min-width:1024px){.pxu-section{--pxu-current-bp:"large"}}.pxu-countdown-timer{align-items:center;display:grid;margin-bottom:calc(var(--pxu-section-margin-bottom, 0)*.75);margin-top:calc(var(--pxu-section-margin-top, 0)*.75);position:relative}@media only screen and (min-width:860px){.pxu-countdown-timer{margin-bottom:var(--pxu-section-margin-bottom,0);margin-top:var(--pxu-section-margin-top,0)}}.pxu-countdown-timer:before{background-color:var(--pxu-section-image-overlay-color,transparent);content:"";height:100%;left:0;position:absolute;top:0;width:100%;z-index:1}.pxu-countdown-timer--adapt{aspect-ratio:auto}@media only screen and (min-width:860px){.pxu-countdown-timer--adapt{aspect-ratio:var(--pxu-section-image-aspect-ratio)}}.pxu-countdown-timer--adapt-no-background,.pxu-countdown-timer--small{min-height:250px}@media only screen and (min-width:860px){.pxu-countdown-timer--adapt-no-background,.pxu-countdown-timer--small{min-height:200px}}.pxu-countdown-timer--medium{min-height:300px}@media only screen and (min-width:860px){.pxu-countdown-timer--medium{min-height:350px}}.pxu-countdown-timer--large{min-height:400px}@media only screen and (min-width:860px){.pxu-countdown-timer--large{min-height:450px}}.pxu-countdown-timer__image-wrapper{height:100%;left:0;position:absolute;top:0;width:100%}.pxu-countdown-timer__image{height:100%;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;width:100%}.pxu-countdown-timer__container{align-items:center;display:grid;gap:var(--pxu-space-10);padding:var(--pxu-space-7) var(--pxu-space-4);position:relative;width:100%;z-index:2}@media only screen and (min-width:860px){.pxu-countdown-timer__container{grid-template-columns:repeat(2,1fr);padding:var(--pxu-space-10)}}.pxu-countdown-timer__container--centered{grid-template-columns:1fr}.pxu-countdown-timer__container--centered .pxu-countdown-timer__block{margin:0 auto;max-width:800px;width:100%}.pxu-countdown-timer__content{text-align:var(--pxu-section-block-content-alignment-mobile)}@media only screen and (min-width:860px){.pxu-countdown-timer__content{text-align:var(--pxu-section-block-content-alignment)}}.pxu-countdown-timer__heading{font-size:var(--pxu-section-block-heading-size-mobile)}@media only screen and (min-width:860px){.pxu-countdown-timer__heading{font-size:var(--pxu-section-block-heading-size)}}.pxu-countdown-timer__text{font-size:var(--pxu-section-block-text-size-mobile);margin-bottom:var(--pxu-space-6)}@media only screen and (min-width:860px){.pxu-countdown-timer__text{font-size:var(--pxu-section-block-text-size)}}.pxu-countdown-timer__heading,.pxu-countdown-timer__text{color:var(--pxu-section-text-color)}.pxu-countdown-timer__countdown{display:grid;row-gap:var(--pxu-space-4)}.pxu-countdown-timer__countdown-items{background-color:var(--pxu-section-countdown-background-color-alpha);border:1px solid transparent;-moz-column-gap:var(--pxu-space-4);column-gap:var(--pxu-space-4);display:grid;grid-template-columns:repeat(4,1fr);padding:var(--pxu-space-2);text-align:center}@media only screen and (min-width:860px){.pxu-countdown-timer__countdown-items{padding:var(--pxu-space-4) var(--pxu-space-4)}}.pxu-countdown-timer__countdown--outline .pxu-countdown-timer__countdown-items{background-color:transparent;border-color:var(--pxu-section-countdown-background-color-alpha)}.pxu-countdown-timer__countdown--hide-on-complete-true.pxu-countdown-timer__countdown--complete .pxu-countdown-timer__countdown-items{display:none}.pxu-countdown-timer__countdown-item{color:var(--pxu-section-countdown-text-color);display:flex;flex-direction:column;line-height:1.2;min-width:-moz-fit-content;min-width:fit-content;position:relative;row-gap:var(--pxu-space-2)}.pxu-countdown-timer__countdown--outline .pxu-countdown-timer__countdown-item{color:var(--pxu-section-countdown-background-color)}.pxu-countdown-timer__countdown-item:after{background-color:var(--pxu-section-countdown-text-color-alpha-10);content:"";height:100%;position:absolute;right:calc(var(--pxu-space-2)*-1);top:0;width:1px}.pxu-countdown-timer__countdown--outline .pxu-countdown-timer__countdown-item:after{background-color:var(--pxu-section-countdown-background-color-alpha)}.pxu-countdown-timer__countdown-item:last-child:after{display:none}.pxu-countdown-timer__countdown-item-heading{color:inherit;font-size:28px;line-height:var(--pxu-line-height-heading);margin:0}.pxu-countdown-timer__countdown-item-text{color:inherit;font-size:10px;letter-spacing:1px;text-transform:uppercase}@media only screen and (min-width:860px){.pxu-countdown-timer__countdown-item-text{font-size:12px}}.pxu-countdown-timer__countdown-message{color:var(--pxu-section-text-color);display:none;font-size:14px;text-align:center}.pxu-countdown-timer__countdown--complete .pxu-countdown-timer__countdown-message{display:block}</style>
{% javascript %}
const { Section } = window.PxuThemeSections;
class CountdownTimerSection extends Section {
  constructor($root) {
    super($root);
    this.$root = $root;
    this.id = $root.id;
    this.data = this.loadData();
    this.countdown = this.query('[data-pxu-countdown-timer-countdown]');
    this.days = this.query('[data-pxu-countdown-timer-countdown-days]');
    this.hours = this.query('[data-pxu-countdown-timer-countdown-hours]');
    this.minutes = this.query('[data-pxu-countdown-timer-countdown-minutes]');
    this.seconds = this.query('[data-pxu-countdown-timer-countdown-seconds]');
    this.dateTime = this.query('[data-pxu-countdown-timer-countdown-datetime]');
    this.targetDate = this.dateTime ? Date.parse(this.dateTime.dateTime) : null;
    this.daysInMs = 1000 * 60 * 60 * 24;
    this.hoursInMs = this.daysInMs / 24;
    this.minutesInMs = this.hoursInMs / 60;
    this.secondsInMs = this.minutesInMs / 60;
    this.timeoutId = null;
    this.isLoading = true;

    this.onMount();
  }

  onMount() {
    this.startTimer();
  }

  onUnmount() {
    this.stopTimer();
  }

  updateLoadingState() {
    // Remove the loading class once the countdown is ready.
    this.countdown.classList.remove('pxu-countdown-timer__countdown--loading');
  }

  startTimer() {
    const interval = 1000;
    let expectedTime = Date.now() + interval;

    // If the target date has already passed, handle countdown completion.
    if (this.targetDate <= Date.now()) {
      this.updateLoadingState();
      this.handleCountDownComplete();
      return;
    }

    const countDown = () => {
      const currentDate = Date.now();
      const timeDiff = this.targetDate - currentDate;

      // If time difference is zero or less, stop the timer and handle countdown completion.
      if (timeDiff <= 0) {
        this.stopTimer();
        this.handleCountDownComplete();
        return;
      }

      // Convert the time difference, calculate the drift, and adjust the expected time.
      const remainingTime = this.convertTime(timeDiff);
      const drift = currentDate - expectedTime;
      expectedTime += interval;

      // Update the loading state and update the DOM with the remaining time.
      if (this.isLoading) this.updateLoadingState();
      this.updateDom(remainingTime);

      this.timeoutId = setTimeout(countDown, Math.max(0, interval - drift));
    };

    this.timeoutId = setTimeout(countDown, interval);
  }

  stopTimer() {
    // Stop the countdown and clear the timeout.
    clearTimeout(this.timeoutId);
  }

  convertTime(timeInMs) {
    // Convert the time difference into days, hours, minutes, and seconds.
    const days = parseInt(timeInMs / this.daysInMs, 10);
    timeInMs -= days * this.daysInMs;

    const hours = parseInt(timeInMs / this.hoursInMs, 10);
    timeInMs -= hours * this.hoursInMs;

    const minutes = parseInt(timeInMs / this.minutesInMs, 10);
    timeInMs -= minutes * this.minutesInMs;

    const seconds = parseInt(timeInMs / this.secondsInMs, 10);

    // Return an object with the calculated time.
    return { days, hours, minutes, seconds };
  }

  updateDom(dateObj) {
    // Update DOM elements with the remaining time.
    const { days, hours, minutes, seconds } = dateObj;
    this.days.textContent = days;
    this.hours.textContent = hours;
    this.minutes.textContent = minutes;
    this.seconds.textContent = seconds;
  }

  handleCountDownComplete() {
    // Update the DOM once the countdown is complete.
    this.updateDom({
      days: 0,
      hours: 0,
      minutes: 0,
      seconds: 0,
    });

    // Add the complete class once the countdown is complete.
    this.countdown.classList.add('pxu-countdown-timer__countdown--complete');
  }
}

document.querySelectorAll(`[data-pxu-countdown-timer]`).forEach(($section) => {
  Section.init($section, CountdownTimerSection);
});

// Export for theme editor instance management.
if (Shopify.designMode) {
  window.PxuThemeSections.CountdownTimerSection = CountdownTimerSection;
}
{% endjavascript %}
{% schema %}
{
  "name": "t:pxu_sections.sections.countdown_timer.name",
  "class": "pxu-countdown-timer-section",
  "settings": [
    {
      "type": "select",
      "id": "section_height",
      "label": "t:pxu_sections.sections.countdown_timer.section_height.label",
      "options": [
        {
          "value": "adapt",
          "label": "t:pxu_sections.common.image.adapt"
        },
        {
          "value": "small",
          "label": "t:pxu_sections.common.image.small"
        },
        {
          "value": "medium",
          "label": "t:pxu_sections.common.image.medium"
        },
        {
          "value": "large",
          "label": "t:pxu_sections.common.image.large"
        }
      ],
      "default": "adapt"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:pxu_sections.common.image.image"
    },
    {
      "type": "header",
      "content": "t:pxu_sections.common.color.color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:pxu_sections.common.color.text_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "image_overlay_color",
      "label": "t:pxu_sections.common.color.image_overlay_color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:pxu_sections.sections.countdown_timer.image_overlay_opacity.label",
      "default": 25
    },
    {
      "type": "header",
      "content": "t:pxu_sections.common.margin.header"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:pxu_sections.common.margin.top",
      "default": 64
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:pxu_sections.common.margin.bottom",
      "default": 64
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "type": "timer",
      "name": "t:pxu_sections.common.timer.timer",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "countdown_year",
          "label": "t:pxu_sections.common.timer.year",
          "default": "2026"
        },
        {
          "type": "select",
          "id": "countdown_month",
          "label": "t:pxu_sections.common.timer.month.month",
          "options": [
            {
              "value": "01",
              "label": "t:pxu_sections.common.timer.month.option_01"
            },
            {
              "value": "02",
              "label": "t:pxu_sections.common.timer.month.option_02"
            },
            {
              "value": "03",
              "label": "t:pxu_sections.common.timer.month.option_03"
            },
            {
              "value": "04",
              "label": "t:pxu_sections.common.timer.month.option_04"
            },
            {
              "value": "05",
              "label": "t:pxu_sections.common.timer.month.option_05"
            },
            {
              "value": "06",
              "label": "t:pxu_sections.common.timer.month.option_06"
            },
            {
              "value": "07",
              "label": "t:pxu_sections.common.timer.month.option_07"
            },
            {
              "value": "08",
              "label": "t:pxu_sections.common.timer.month.option_08"
            },
            {
              "value": "09",
              "label": "t:pxu_sections.common.timer.month.option_09"
            },
            {
              "value": "10",
              "label": "t:pxu_sections.common.timer.month.option_10"
            },
            {
              "value": "11",
              "label": "t:pxu_sections.common.timer.month.option_11"
            },
            {
              "value": "12",
              "label": "t:pxu_sections.common.timer.month.option_12"
            }
          ],
          "default": "01"
        },
        {
          "type": "select",
          "id": "countdown_day",
          "label": "t:pxu_sections.common.timer.day.day",
          "options": [
            {
              "value": "01",
              "label": "t:pxu_sections.common.timer.day.option_01"
            },
            {
              "value": "02",
              "label": "t:pxu_sections.common.timer.day.option_02"
            },
            {
              "value": "03",
              "label": "t:pxu_sections.common.timer.day.option_03"
            },
            {
              "value": "04",
              "label": "t:pxu_sections.common.timer.day.option_04"
            },
            {
              "value": "05",
              "label": "t:pxu_sections.common.timer.day.option_05"
            },
            {
              "value": "06",
              "label": "t:pxu_sections.common.timer.day.option_06"
            },
            {
              "value": "07",
              "label": "t:pxu_sections.common.timer.day.option_07"
            },
            {
              "value": "08",
              "label": "t:pxu_sections.common.timer.day.option_08"
            },
            {
              "value": "09",
              "label": "t:pxu_sections.common.timer.day.option_09"
            },
            {
              "value": "10",
              "label": "t:pxu_sections.common.timer.day.option_10"
            },
            {
              "value": "11",
              "label": "t:pxu_sections.common.timer.day.option_11"
            },
            {
              "value": "12",
              "label": "t:pxu_sections.common.timer.day.option_12"
            },
            {
              "value": "13",
              "label": "t:pxu_sections.common.timer.day.option_13"
            },
            {
              "value": "14",
              "label": "t:pxu_sections.common.timer.day.option_14"
            },
            {
              "value": "15",
              "label": "t:pxu_sections.common.timer.day.option_15"
            },
            {
              "value": "16",
              "label": "t:pxu_sections.common.timer.day.option_16"
            },
            {
              "value": "17",
              "label": "t:pxu_sections.common.timer.day.option_17"
            },
            {
              "value": "18",
              "label": "t:pxu_sections.common.timer.day.option_18"
            },
            {
              "value": "19",
              "label": "t:pxu_sections.common.timer.day.option_19"
            },
            {
              "value": "20",
              "label": "t:pxu_sections.common.timer.day.option_20"
            },
            {
              "value": "21",
              "label": "t:pxu_sections.common.timer.day.option_21"
            },
            {
              "value": "22",
              "label": "t:pxu_sections.common.timer.day.option_22"
            },
            {
              "value": "23",
              "label": "t:pxu_sections.common.timer.day.option_23"
            },
            {
              "value": "24",
              "label": "t:pxu_sections.common.timer.day.option_24"
            },
            {
              "value": "25",
              "label": "t:pxu_sections.common.timer.day.option_25"
            },
            {
              "value": "26",
              "label": "t:pxu_sections.common.timer.day.option_26"
            },
            {
              "value": "27",
              "label": "t:pxu_sections.common.timer.day.option_27"
            },
            {
              "value": "28",
              "label": "t:pxu_sections.common.timer.day.option_28"
            },
            {
              "value": "29",
              "label": "t:pxu_sections.common.timer.day.option_29"
            },
            {
              "value": "30",
              "label": "t:pxu_sections.common.timer.day.option_30"
            },
            {
              "value": "31",
              "label": "t:pxu_sections.common.timer.day.option_31"
            }
          ],
          "default": "01"
        },
        {
          "type": "select",
          "id": "countdown_hour",
          "label": "t:pxu_sections.common.timer.hour.hour",
          "options": [
            {
              "value": "00",
              "label": "t:pxu_sections.common.timer.hour.option_00"
            },
            {
              "value": "01",
              "label": "t:pxu_sections.common.timer.hour.option_01"
            },
            {
              "value": "02",
              "label": "t:pxu_sections.common.timer.hour.option_02"
            },
            {
              "value": "03",
              "label": "t:pxu_sections.common.timer.hour.option_03"
            },
            {
              "value": "04",
              "label": "t:pxu_sections.common.timer.hour.option_04"
            },
            {
              "value": "05",
              "label": "t:pxu_sections.common.timer.hour.option_05"
            },
            {
              "value": "06",
              "label": "t:pxu_sections.common.timer.hour.option_06"
            },
            {
              "value": "07",
              "label": "t:pxu_sections.common.timer.hour.option_07"
            },
            {
              "value": "08",
              "label": "t:pxu_sections.common.timer.hour.option_08"
            },
            {
              "value": "09",
              "label": "t:pxu_sections.common.timer.hour.option_09"
            },
            {
              "value": "10",
              "label": "t:pxu_sections.common.timer.hour.option_10"
            },
            {
              "value": "11",
              "label": "t:pxu_sections.common.timer.hour.option_11"
            },
            {
              "value": "12",
              "label": "t:pxu_sections.common.timer.hour.option_12"
            },
            {
              "value": "13",
              "label": "t:pxu_sections.common.timer.hour.option_13"
            },
            {
              "value": "14",
              "label": "t:pxu_sections.common.timer.hour.option_14"
            },
            {
              "value": "15",
              "label": "t:pxu_sections.common.timer.hour.option_15"
            },
            {
              "value": "16",
              "label": "t:pxu_sections.common.timer.hour.option_16"
            },
            {
              "value": "17",
              "label": "t:pxu_sections.common.timer.hour.option_17"
            },
            {
              "value": "18",
              "label": "t:pxu_sections.common.timer.hour.option_18"
            },
            {
              "value": "19",
              "label": "t:pxu_sections.common.timer.hour.option_19"
            },
            {
              "value": "20",
              "label": "t:pxu_sections.common.timer.hour.option_20"
            },
            {
              "value": "21",
              "label": "t:pxu_sections.common.timer.hour.option_21"
            },
            {
              "value": "22",
              "label": "t:pxu_sections.common.timer.hour.option_22"
            },
            {
              "value": "23",
              "label": "t:pxu_sections.common.timer.hour.option_23"
            }
          ],
          "default": "12"
        },
        {
          "type": "select",
          "id": "countdown_minute",
          "label": "t:pxu_sections.common.timer.minute.minute",
          "options": [
            {
              "value": "00",
              "label": "t:pxu_sections.common.timer.minute.option_00"
            },
            {
              "value": "01",
              "label": "t:pxu_sections.common.timer.minute.option_01"
            },
            {
              "value": "02",
              "label": "t:pxu_sections.common.timer.minute.option_02"
            },
            {
              "value": "03",
              "label": "t:pxu_sections.common.timer.minute.option_03"
            },
            {
              "value": "04",
              "label": "t:pxu_sections.common.timer.minute.option_04"
            },
            {
              "value": "05",
              "label": "t:pxu_sections.common.timer.minute.option_05"
            },
            {
              "value": "06",
              "label": "t:pxu_sections.common.timer.minute.option_06"
            },
            {
              "value": "07",
              "label": "t:pxu_sections.common.timer.minute.option_07"
            },
            {
              "value": "08",
              "label": "t:pxu_sections.common.timer.minute.option_08"
            },
            {
              "value": "09",
              "label": "t:pxu_sections.common.timer.minute.option_09"
            },
            {
              "value": "10",
              "label": "t:pxu_sections.common.timer.minute.option_10"
            },
            {
              "value": "11",
              "label": "t:pxu_sections.common.timer.minute.option_11"
            },
            {
              "value": "12",
              "label": "t:pxu_sections.common.timer.minute.option_12"
            },
            {
              "value": "13",
              "label": "t:pxu_sections.common.timer.minute.option_13"
            },
            {
              "value": "14",
              "label": "t:pxu_sections.common.timer.minute.option_14"
            },
            {
              "value": "15",
              "label": "t:pxu_sections.common.timer.minute.option_15"
            },
            {
              "value": "16",
              "label": "t:pxu_sections.common.timer.minute.option_16"
            },
            {
              "value": "17",
              "label": "t:pxu_sections.common.timer.minute.option_17"
            },
            {
              "value": "18",
              "label": "t:pxu_sections.common.timer.minute.option_18"
            },
            {
              "value": "19",
              "label": "t:pxu_sections.common.timer.minute.option_19"
            },
            {
              "value": "20",
              "label": "t:pxu_sections.common.timer.minute.option_20"
            },
            {
              "value": "21",
              "label": "t:pxu_sections.common.timer.minute.option_21"
            },
            {
              "value": "22",
              "label": "t:pxu_sections.common.timer.minute.option_22"
            },
            {
              "value": "23",
              "label": "t:pxu_sections.common.timer.minute.option_23"
            },
            {
              "value": "24",
              "label": "t:pxu_sections.common.timer.minute.option_24"
            },
            {
              "value": "25",
              "label": "t:pxu_sections.common.timer.minute.option_25"
            },
            {
              "value": "26",
              "label": "t:pxu_sections.common.timer.minute.option_26"
            },
            {
              "value": "27",
              "label": "t:pxu_sections.common.timer.minute.option_27"
            },
            {
              "value": "28",
              "label": "t:pxu_sections.common.timer.minute.option_28"
            },
            {
              "value": "29",
              "label": "t:pxu_sections.common.timer.minute.option_29"
            },
            {
              "value": "30",
              "label": "t:pxu_sections.common.timer.minute.option_30"
            },
            {
              "value": "31",
              "label": "t:pxu_sections.common.timer.minute.option_31"
            },
            {
              "value": "32",
              "label": "t:pxu_sections.common.timer.minute.option_32"
            },
            {
              "value": "33",
              "label": "t:pxu_sections.common.timer.minute.option_33"
            },
            {
              "value": "34",
              "label": "t:pxu_sections.common.timer.minute.option_34"
            },
            {
              "value": "35",
              "label": "t:pxu_sections.common.timer.minute.option_35"
            },
            {
              "value": "36",
              "label": "t:pxu_sections.common.timer.minute.option_36"
            },
            {
              "value": "37",
              "label": "t:pxu_sections.common.timer.minute.option_37"
            },
            {
              "value": "38",
              "label": "t:pxu_sections.common.timer.minute.option_38"
            },
            {
              "value": "39",
              "label": "t:pxu_sections.common.timer.minute.option_39"
            },
            {
              "value": "40",
              "label": "t:pxu_sections.common.timer.minute.option_40"
            },
            {
              "value": "41",
              "label": "t:pxu_sections.common.timer.minute.option_41"
            },
            {
              "value": "42",
              "label": "t:pxu_sections.common.timer.minute.option_42"
            },
            {
              "value": "43",
              "label": "t:pxu_sections.common.timer.minute.option_43"
            },
            {
              "value": "44",
              "label": "t:pxu_sections.common.timer.minute.option_44"
            },
            {
              "value": "45",
              "label": "t:pxu_sections.common.timer.minute.option_45"
            },
            {
              "value": "46",
              "label": "t:pxu_sections.common.timer.minute.option_46"
            },
            {
              "value": "47",
              "label": "t:pxu_sections.common.timer.minute.option_47"
            },
            {
              "value": "48",
              "label": "t:pxu_sections.common.timer.minute.option_48"
            },
            {
              "value": "49",
              "label": "t:pxu_sections.common.timer.minute.option_49"
            },
            {
              "value": "50",
              "label": "t:pxu_sections.common.timer.minute.option_50"
            },
            {
              "value": "51",
              "label": "t:pxu_sections.common.timer.minute.option_51"
            },
            {
              "value": "52",
              "label": "t:pxu_sections.common.timer.minute.option_52"
            },
            {
              "value": "53",
              "label": "t:pxu_sections.common.timer.minute.option_53"
            },
            {
              "value": "54",
              "label": "t:pxu_sections.common.timer.minute.option_54"
            },
            {
              "value": "55",
              "label": "t:pxu_sections.common.timer.minute.option_55"
            },
            {
              "value": "56",
              "label": "t:pxu_sections.common.timer.minute.option_56"
            },
            {
              "value": "57",
              "label": "t:pxu_sections.common.timer.minute.option_57"
            },
            {
              "value": "58",
              "label": "t:pxu_sections.common.timer.minute.option_58"
            },
            {
              "value": "59",
              "label": "t:pxu_sections.common.timer.minute.option_59"
            }
          ],
          "default": "30"
        },
        {
          "type": "checkbox",
          "id": "countdown_timer_complete",
          "label": "t:pxu_sections.common.timer.hide_on_complete",
          "default": false
        },
        {
          "type": "richtext",
          "id": "countdown_message",
          "label": "t:pxu_sections.common.timer.complete_message"
        },
        {
          "type": "select",
          "id": "countdown_style",
          "label": "t:pxu_sections.sections.countdown_timer.blocks.timer.countdown_style.label",
          "options": [
            {
              "value": "fill",
              "label": "t:pxu_sections.common.layout.fill"
            },
            {
              "value": "outline",
              "label": "t:pxu_sections.common.layout.outline"
            }
          ],
          "default": "outline"
        },
        {
          "type": "color",
          "id": "countdown_text_color",
          "label": "t:pxu_sections.common.color.text_color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "countdown_background_color",
          "label": "t:pxu_sections.common.color.background_color",
          "info": "t:pxu_sections.common.button.background_color_info",
          "default": "#FFFFFF"
        },
        {
          "type": "range",
          "id": "countdown_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:pxu_sections.sections.countdown_timer.blocks.timer.countdown_opacity.label",
          "default": 100
        }
      ]
    },
    {
      "type": "content",
      "name": "t:pxu_sections.common.text.content",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:pxu_sections.common.heading.name",
          "default": "t:pxu_sections.sections.countdown_timer.blocks.content.heading.default"
        },
        {
          "type": "range",
          "id": "heading_size",
          "min": 16,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:pxu_sections.common.heading.heading_size",
          "default": 40
        },
        {
          "type": "range",
          "id": "heading_size_mobile",
          "min": 16,
          "max": 64,
          "step": 1,
          "unit": "px",
          "label": "t:pxu_sections.common.heading.heading_size_mobile",
          "default": 32
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:pxu_sections.common.text.name",
          "default": "t:pxu_sections.common.text.default_html"
        },
        {
          "type": "range",
          "id": "text_size",
          "min": 12,
          "max": 32,
          "step": 1,
          "unit": "px",
          "label": "t:pxu_sections.common.text.text_size",
          "default": 16
        },
        {
          "type": "range",
          "id": "text_size_mobile",
          "min": 12,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "t:pxu_sections.common.text.text_size_mobile",
          "default": 16
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:pxu_sections.common.layout.content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:pxu_sections.common.layout.left"
            },
            {
              "value": "center",
              "label": "t:pxu_sections.common.layout.center"
            },
            {
              "value": "right",
              "label": "t:pxu_sections.common.layout.right"
            }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:pxu_sections.common.button.label",
          "default": "t:pxu_sections.common.button.button"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "t:pxu_sections.common.button.link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:pxu_sections.common.button.style",
          "options": [
            {
              "value": "fill",
              "label": "t:pxu_sections.common.button.fill"
            },
            {
              "value": "outline",
              "label": "t:pxu_sections.common.button.outline"
            }
          ],
          "default": "fill"
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "t:pxu_sections.common.color.background_color",
          "info": "t:pxu_sections.common.button.background_color_info",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "t:pxu_sections.common.color.text_color",
          "default": "#FFFFFF"
        },
        {
          "type": "header",
          "content": "t:pxu_sections.common.layout.mobile_layout"
        },
        {
          "type": "select",
          "id": "content_alignment_mobile",
          "label": "t:pxu_sections.common.layout.mobile_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:pxu_sections.common.layout.left"
            },
            {
              "value": "center",
              "label": "t:pxu_sections.common.layout.center"
            },
            {
              "value": "right",
              "label": "t:pxu_sections.common.layout.right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "presets": [
    {
      "name": "t:pxu_sections.sections.countdown_timer.name",
      "blocks": [
        {
          "type": "content"
        },
        {
          "type": "timer"
        }
      ]
    }
  ]
}{% endschema %}